.header {
    @apply fixed left-0 z-50 flex h-16 w-full items-center justify-between px-24 text-accent transition-[padding,background-color];
}

.header.scrolled {
    @apply bg-header-bg backdrop-blur-md;
}

.headerLinks {
    @apply flex h-full items-center gap-2;
}

.headerLinks a {
    @apply text-inherit no-underline;
}

.headerLinks a:hover,
.headerLinks a:active {
    @apply text-accent-bright;
}

.headerLinksSeparator {
    @apply mx-1 h-2 min-w-[2px] rounded-sm bg-accent;
}

.headerThemeToggle {
    @apply h-10 w-10;
}

.headerThemeToggle:active .headerThemeToggleLight,
.headerThemeToggle:active .headerThemeToggleDark {
    @apply scale-75;
}

.headerThemeToggleLight,
.headerThemeToggleDark {
    @apply transition-transform;
}

html:global(.dark) .headerThemeToggleLight {
    display: none;
}

html:global(.dark) .headerThemeToggleDark {
    display: block;
}

.headerThemeToggleLight {
    display: block;
}

.headerThemeToggleDark {
    display: none;
}

@media (max-width: 900px) {
    .header {
        @apply px-8;
    }
}
